<div class="currency-converter">
    <h2>Курс валют</h2>
    <div class="exchange-rates">
        <p>USD: {{ exchangeRates['USD']['UAH'] }}</p>
        <p>EUR: {{ exchangeRates['EUR']['UAH'] }}</p>
    </div>
    <div>
        <input [(ngModel)]="amount1" (input)="convertCurrency(1)" placeholder="Сумма 1">
        <select [(ngModel)]="currency1" (change)="convertCurrency(1)">
            <option value="UAH">UAH</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
        </select>
    </div>

    <div>
        <input [(ngModel)]="amount2" (input)="convertCurrency(2)" placeholder="Сумма 2">
        <select [(ngModel)]="currency2" (change)="convertCurrency(2)">
            <option value="UAH">UAH</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
        </select>
    </div>
</div>